@model IEnumerable<ASP_NET_CORE_ONE_TO_MANY_CRUD.Models.Student>


@{
    ViewData["Title"] = "StudentList";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Student List</h2>
        </div>
        <div class="col-4">
            <a asp-action="Create" class="btn btn-primary text-white">Create New</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DepId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Department.DepName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Department.DepChairman)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.DepName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.DepChairman)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Create", new { id=item.ID ,item.Name,item.Email, item.Mobile,item.DepId }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "DeleteStd", new { id = item.ID }, new { @class = "btn btn-danger" , onclick="return confirm(''Do you want to delete')" })
                        </td>


                    </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

